body {
	display: flex;
	align-items: center;
	flex-direction: column;
}

table {
	width: 60%;
	border-collapse: collapse;	
}

th {	
	border-bottom: 3px solid black;
	text-align: center;
	font-weight: bold;	
}

th, td {
	padding: 0.25rem 0.5rem;
	border: 1px solid black;
}

a input {
	border-radius: 5px;
	padding: 0.25rem 0.5rem;
	border: 0px;
	background: #4B56D2;
	color: white;
	cursor: pointer;
}

a input:hover {
	background: #ADA2FF;
}